@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Common styles  */

h2 {
	@apply text-[25px] font-semibold;
	@apply max-sm:text-xl;
}

.potition-centered {
	@apply top-[50%] left-[50%] translate-x-[-50%] translate-y-[-50%];
}

.button-icons-wrapper {
	@apply py-2 px-4 rounded-full;
}

.gradient {
	background: rgb(78, 34, 93);
	background: linear-gradient(
		90deg,
		rgba(78, 34, 93, 1) 0%,
		rgba(100, 8, 100, 1) 50%,
		rgba(69, 7, 94, 1) 100%
	);
}

/* Common classes  */

.app-container {
	@apply w-[100vw] h-[100vm] min-h-[100vh] fixed py-[20px] px-[20px] bg-violet-700 text-white font-poppins;
	@apply max-sm:px-5;
}

.main-container {
	@apply fixed potition-centered w-full mt-10 py-5 px-10 flex justify-center gap-x-[5%];
	@apply max-sm:static max-sm:transform-none max-sm:h-[calc(100vh_-_90px)] max-sm:flex max-sm:flex-col max-sm:justify-between max-sm:mt-2 max-sm:p-0;
}

.common-circular-avatar {
	@apply inline-block relative overflow-hidden rounded-full;
}
.common-circular-avatar .circular--landscape img {
	@apply w-auto h-[100%] ml-[-50%];
}

.primary-button {
	@apply text-lg font-medium bg-pink-700 py-2 px-4 rounded-2xl hover:bg-pink-800;
	@apply max-sm:text-[12px] max-sm:py-1 max-sm:px-2 max-sm:rounded-lg;
}

.primary-button:disabled {
	@apply opacity-[0.7] pointer-events-none;
}

/* Reset styles  */

input,
textarea {
	@apply outline-none;
}

/* Styles for circular radio input  */

.form-group-label-radio {
	@apply flex justify-between items-center py-2 px-4 text-xl my-2 bg-violet-500 rounded-full hover:cursor-pointer;
	@apply max-sm:text-sm;
}

.form-group-radio {
	@apply relative h-5 w-5 appearance-none;
}

.form-group-radio::before {
	content: url('./assets/icons/arrow-right.svg');
	@apply absolute potition-centered  px-[10px]  bg-pink-700  rounded-full border-none;
}

.form-group-radio:checked::before {
	content: url('./assets/icons/arrow-down.svg');
	@apply px-2;
}

.menu {
	@apply fixed w-[70%] h-[100vh] top-0 right-0 z-10  py-10 text-black flex flex-col justify-between gradient transition ease-in-out delay-150;
}
